@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
  -webkit-border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  /* Customize the scrollbar thumb */
  border-radius: 20px;
  @apply bg-slate-700
}

.navbar-animation {
  animation: animate-navbar .5s ease;
  -webkit-animation: animate-navbar .5s ease;
}


@keyframes animate-navbar {
  0% {
    left: -100%;
  }

  100% {
    left: 0;
  }
}

.certif-animation {
  animation: navbar-animation .5s linear;
  -webkit-animation: navbar-animation .5s linear;
}


@keyframes navbar-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animate-dropdown {
  display: block;
  animation: animate-dropdown .5s both;
  -webkit-animation: animate-dropdown .5s both;
}

@keyframes animate-dropdown {
  0% {
    transform: translateY(-60px);
    -webkit-transform: translateY(-60px);
    -moz-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    -o-transform: translateY(-60px);
  }

  100% {
    transform: translateY(none);
    -webkit-transform: translateY(none);
    -moz-transform: translateY(none);
    -ms-transform: translateY(none);
    -o-transform: translateY(none);
    opacity: 1;
  }
}

.hide-dropdown {
  animation: hide-dropdown .5s both;
  -webkit-animation: hide-dropdown .5s both;
}

@keyframes hide-dropdown {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    display: none;
  }
}

.link:hover svg {
  @apply animate-bounce;
}

.animate-desc {
  animation: animate-desc .7s linear;
  -webkit-animation: animate-desc .7s linear;
}

@keyframes animate-desc {
  0% {
    height: 1.25rem;
  }
50%{
 @apply h-56
}
  100% {
    @apply h-full
  }
}