@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap') ;
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    font-family: 'Poppins', sans-serif !important; 
}
::-webkit-scrollbar{
    width: .2em;
    border-radius: 15px;
    background: #7050EF;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    height: .2em;
}

html{

    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;

    background: url(/src/assets/grunge-dots-and-points-texture-background-abstract-grainy-overlay-graphic-illustration-with-transparent-background-png.webp) no-repeat;
    background-size: cover;
}